body{
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	margin: 0;
}

div, p, input, header, a, form{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p a{
	margin: 0;
	padding: 0;
}

h2{
	font-size: 38px;
	color: #543024;
	text-align: left;
}

h3{
	font-size: 19px;
	color: #543024;
}

section{
	padding-top: 96px;
}

a{
	transition: all 0.4s ease;
	text-decoration: none;
	color: #fff;
}


ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

section{
	padding-top: 96px;
}

.container{
	width: 1200px;
	margin: 0 auto;
}

/********Главный экран********/

.header{
	padding: 43px 0 80px 0;
	color: #fff;
	background-image: url(https://img.fonwall.ru/o/b6/domik-na-vode-palmi.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    
}

.logo{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;;
	letter-spacing: 0.055em;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 37px;
	text-align: center;
	margin-right: 110px;
}

.nav{
	display: flex;
}

.nav li:not(:last-child){
    margin-right: 48px;
}

.nav a{
    border-bottom: 1px solid transparent;
	padding-bottom: 10px;
}

.nav a:hover{
	border-bottom: 1px solid #fff;
}

.navigation img{
        display: none;
    }

.navigation{
	margin: 0 0 193px 0;
	align-items: center;
	display: flex;
}

.country span{
    font-weight: 700;
    font-size: 14px;
    display: block;
}

.country{
    margin: 0 0 0 40px;
    font-size: 12px;
}

.call{
	display: flex;
	align-items: center;
	margin-left: auto;
}

.phone{
	font-weight: 700;
}

.btn-call{
	cursor: pointer;
	margin-right: 20px;
	text-align: center;
	display: block;
	width: 190px;
	border: 1px solid #fff;
	font-weight: 700;
	padding: 11px 27px;
	border-radius: 100px;
}

.btn-call:hover{
	background-color: #fff;
	color: #000;
	transition: 0.4s;
}

.offer{
	text-align: center;
	margin: 0 auto;
}

.offer h1{
	font-size: 50px;
	font-weight: 700;
    margin-bottom: 18px;
}

.offer p{
	text-align: center;
	margin: 0 auto;
	font-size: 17px;
	line-height: 20px;
	width: 462px;
    margin-bottom: 35px;  
}

.btn{
	width: 296px;
	color: #fff;
	font-weight: 700;
	font-size: 17px;
	border: none;
	background: #FF7D34;
	padding: 15px 41px;
	border-radius: 69px;
}

.btn:hover {
	background: #D84E00;
}

.text-offer{
	padding: 0 0 184px 0;
}

.button-arrow{
	padding-bottom: 90px;
	margin: 0 auto;
}

.arrow{
	display: block;
	width: 15px;
	height: 15px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	margin: 0 auto;
	transform: rotate(135deg);
}



/********Конец главного экрана********/


/*******Направления*******/

.destinations{
    margin: 47px 0 58px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.destinations-item:hover{
	box-shadow: 0px 7px 20px rgba(32, 40, 69, 0.25);
}

.destinations-item{
    cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 31px;
	width: 585px;
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
    border-radius: 15px;
}

.destinations-item img {
	width: 277px;
	display: block;
	border-radius: 15px 0px 0px 15px;
}

.data{
	align-items: center;
	display: flex;

}

.data span{ 
	margin-left: 2px;
	color: #fff;
	font-size: 13px;
	background: #EE3C5C;
	padding: 3px 13px;
	border-radius: 30px;
}

.data p{
	margin-left: 8px;
	color: #EE3C5C;
	font-size: 13px;
}

.detalies{
     padding: 35px 21px 35px 28px;
}

.detalies-text{
	margin: 16px 0 0 0;
}

.detalies-text p{
	margin-top: 12px;
	font-size: 13px;
	width: 232px;
}

.btn-routes{
	color: #FF7D34;
	font-weight: 700;
	border: 1px solid #FF7D34;
	padding: 15px 29px;
	border-radius: 69px;
}

.btn-routes:hover{
	background: #FF7D34;
	color: #fff;
}

/*******Конец секции*******/


/******* О нас *******/
.content{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.text{
	width: 572px;
}

.text p{
	margin-top: 25px;
	font-size: 15px;
	line-height: 22px;
}

.content img{
	border-radius: 15px;
	width: 585px;
}

/*******Конец секции*******/


/*******Форма*******/

.form{
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
    border-radius: 20px;
    width: 601px;
    margin-top: 57px;
    padding: 58px 64px 97px;
}

.form h3{
	width: 80%;
	padding-bottom: 45px;
}

.form input{
	font-family: 'Ubuntu', sans-serif;
	display: block;
	width: 100%;
	height: 59px;
	background: #FFFFFF;
	border: 1px solid rgba(39, 52, 86, 0.26);
	margin-bottom: 15px;
	font-size: 16px;
	border-radius: 5px;
	padding: 21px 0 21px 26px;
}

.form-content{
    justify-content: space-between;
	align-items: center;
	display: flex;
}

.form-content img{
	width: 39px;
	height: 39px;
}

.number{
	text-align: center;
	margin: 0 auto;
	display: block;
}

.number p{
    font-weight: 700;
	font-size: 20px;
    color: #543024;
}

/*******Конец секции*******/

.footer{
	padding: 116px 0 119px;
}

.footer p{
	text-align: center;
	font-size: 14px;
	color: rgba(114, 52, 26, 0.6);
}

/*******Всплывающее окно*******/
#modal_form {
	width: 450px; 
	height: 290px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 10px;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -135px;
	margin-left: -175px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
/* Стили для поля ввода */
#modal_form input[type="text"] {
	font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
    border: 1px solid #273456;
    border-radius: 5px;
    color: #273456;
    display: block;
    font-size: 16px;
    height: 35px;
    margin-bottom: 17px;
    width: 90%;
    float: left;
    padding: 15px 0 15px 20px;
}
/* Стилия для заговка и надписей */
#modal_form  h5{
	font-size: 4px;
	text-align: center;
}
#modal_form .comment {
    color: #797979;
    padding-bottom: 15px;
    font-size: 12px;
}
/* Кнопка закрыть */
.exit {
	align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 28px;
    height: 28px;
    text-decoration: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #3e5368;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.exit:after{
    display: block;
    font-size: 28px;
    content: "x";
    padding-left: 7px;
    line-height: 26px;
    cursor: pointer;
    text-decoration: none;
    color: #3e5368;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.exit:hover {
    background: #DCDCDC;
}
/* Кнопка отправить */
#modal_form .btn {
	display: block;
    background-color: #FF7D34;
    border-radius: 69px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    margin: o auto;
    height: 45px;
    margin: 10px 0;
    width: 200px;
    padding: 15px 41px;
}
#modal_form .btn:hover {
   background: #D84E00;
}



@media screen and (max-width: 1200px) {
    .container{
        width: 960px;
    }
    .nav , .country{
        display: none;
    }
    .navigation img{
        margin-left: 150px;
        width: 30px;
        display: block;
    }

    .destinations-item{
        width: 99%;
    }
    .destinations-item img{
        width: 380px;
    }
    .text{
        width: 442px;
    }
    .content img{
        border-radius: 15px;
        width: 485px;
        height: 360px;
    }
    .destinations-item{
        width: 48%;
    }
    .destinations-item img{
        width: 100%;
        height: 50%;
        border-radius: 15px 15px 0px 0px;
    }
}

@media screen and (max-width: 992px) {
    .container{
        width: 720px;
    }
    .logo{
        margin-right: 40px;
    }
    .navigation img{
        margin-left: 80px;
    }
    .content{
        flex-wrap: wrap;
    }
    .content img{
        width: 80%;
    }
    .text{
        margin-top: 43px;
        width: 80%;
    }
    .form-content{
        flex-wrap: wrap;
    }
    .form{
        width: 90%;
    }
    .number{
        margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 540px;
    }
    .content img{
        width: 100%;
    }
    .text{
        margin-top: 43px;
        width: 100%;
    }
    .btn-call{
        display: none;
    }
    .text-offer h1{
        font-size: 37px;
    }
    .navigation img{
        margin-left: auto;
    }
    .destinations-item{
        width: 49%;
    }

    .data span{
        font-size: 11px;
    }
    .form{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .container{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .phone{
        display: none;
    }
    .text-offer h1{
        font-size: 32px;
    }
    .text-offer p{
        font-size: 14px;
        width: 284px;
    }
    .destinations-item{
        width: 100%;
        margin-bottom: 21px;
    }
    .content img{
        height: 218px;
    }
    h3{
        font-size: 18px;
    }
    .form{
        padding: 58px 27px 82px;
    }
    .btn{
        width: 100%;
    }
    .form h3{
        width: 100%;
    }
}
