body{
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	margin: 0;
}

div, p, input, header, a, form{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p a{
	margin: 0;
	padding: 0;
}

h2{
	font-size: 38px;
	color: #543024;
	text-align: left;
}

h3{
	font-size: 19px;
	color: #543024;
}

section{
	padding-top: 96px;
}

a{
	transition: all 0.4s ease;
	text-decoration: none;
	color: #fff;
}


ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

section{
	padding-top: 96px;
}

.container{
	width: 1200px;
	margin: 0 auto;
}

/********Главный экран********/

.header{
	padding: 43px 0 80px 0;
	color: #fff;
	background-color: #000;
	background-image: url(D:/Phototour/img/Bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.logo{
	width: 144px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;;
	letter-spacing: 0.055em;
	background-image: url(D:/Phototour/img/logo.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 37px;
	text-align: center;
	margin-right: 110px;
}

.nav li{
	margin-right: 48px;
}

.nav{
	display: flex;
}

.nav a{
	padding-bottom: 10px;
}

.nav a:hover{
	border-bottom: 1px solid #fff;
}

.navigation{
	margin: 0 0 193px 0;
	align-items: center;
	display: flex;
}

.call{
	display: flex;
	align-items: center;
	margin-left: auto;
}

.phone{
	font-weight: 700;
}

.btn-call{
	cursor: pointer;
	margin-right: 20px;
	text-align: center;
	display: block;
	width: 190px;
	border: 1px solid #fff;
	font-weight: 700;
	padding: 11px 27px;
	border-radius: 100px;
}

.btn-call:hover{
	background-color: #fff;
	color: #000;
	transition: 0.4s;
}

.offer{
	text-align: center;
	width: 633px;
	margin: 0 auto;
}

.offer h1{
	font-size: 50px;
	font-weight: 700;
}

.offer p{
	text-align: center;
	margin: 0 auto;
	font-size: 17px;
	line-height: 20px;
	width: 462px;
	padding: 18px 0 36px 0;
}

.btn{
	margin-top: 5px;
	width: 296px;
	color: #fff;
	font-weight: 700;
	font-size: 17px;
	border: none;
	background: #FF7D34;
	padding: 15px 41px;
	border-radius: 69px;
}

.btn:hover {
	background: #D84E00;
}

.text-offer{
	padding: 0 0 184px 0;
}

.button-arrow{
	padding-bottom: 90px;
	margin: 0 auto;
}

.arrow{
	display: block;
	width: 15px;
	height: 15px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	margin: 0 auto;
	transform: rotate(135deg);
}



/********Конец главного экрана********/


/*******Направления*******/

.destinations{
	margin-top: 47px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.destinations-item:hover{
	box-shadow: 0px 7px 20px rgba(32, 40, 69, 0.25);
}

.destinations-item{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 31px;
	width: 585px;
	height: 173px;
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
    border-radius: 15px;
}

.destinations-item img {
	width: 277px;
	height: 173px;
	display: block;
	border-radius: 15px 0px 0px 15px;
}

.data{
	padding: 35px 0 0 28px;
	align-items: center;
	display: flex;

}

.data span{
	margin-left: 2px;
	color: #fff;
	font-size: 13px;
	background: #EE3C5C;
	padding: 3px 13px;
	border-radius: 30px;
}

.data p{
	margin-left: 8px;
	color: #EE3C5C;
	font-size: 13px;
}

.detalies-text{
	margin: 16px 0 0 30px;
}

.detalies-text p{
	margin-top: 12px;
	font-size: 13px;
	width: 232px;
}

.btn-routes{
	margin-top: 27px;
	color: #FF7D34;
	font-weight: 700;
	border: 1px solid #FF7D34;
	padding: 15px 29px;
	border-radius: 69px;
}

.btn-routes:hover{
	background: #FF7D34;
	color: #fff;
}

/*******Конец секции*******/


/******* О нас *******/
.content{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.text{
	width: 572px;
}

.text p{
	margin-top: 25px;
	font-size: 15px;
	line-height: 22px;
}

.content img{
	border-radius: 15px;
	width: 585px;
	height: 360px;
}

/*******Конец секции*******/


/*******Форма*******/

.form{
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
    border-radius: 20px;
    width: 601px;
    margin-top: 57px;
    padding: 58px 64px 97px;
}

.form h3{
	width: 367px;
	padding-bottom: 45px;
}

.form input{
	font-family: 'Ubuntu', sans-serif;
	display: block;
	width: 100%;
	height: 59px;
	background: #FFFFFF;
	border: 1px solid rgba(39, 52, 86, 0.26);
	margin-bottom: 15px;
	font-size: 16px;
	border-radius: 5px;
	padding: 21px 0 21px 26px;
}

.form-content{
	align-items: center;
	display: flex;
}

.form-content img{
	width: 39px;
	height: 39px;
}

.number{
	text-align: center;
	margin: 0 auto;
	display: block;
}

.number h3{
	font-size: 20px;
	margin-top: 23px;
}

/*******Конец секции*******/

.footer{
	margin-top: 116px;
}

.footer p{
	text-align: center;
	font-size: 14px;
	color: rgba(114, 52, 26, 0.6);
}